.allC-product-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    justify-content: center;
    place-items: center;
    /* margin: 10px; */
    background-color: wheat;
}

.allC-product-cards{
    width: 25vw;
    height: 70vh;
    background-color: rgb(87, 160, 87);
  margin: 20px;
  color: wheat;

}

.allC-product-cards{
display: flex;
flex-direction: column;
align-items: center;
border: 1px solid green;
border-radius: 50px;
padding: 10px;

}

.allC-category-lower{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
}

.allC-category-lower > button{
background-color: wheat;
color: green;
border: none;
width: 100px;
height: 30px;

}

.allC-category-lower > button:hover{
    background-color: white;
    cursor: pointer;
}

.allC-category-image{
   width:280px;
   height: 300px;
   margin: 20px;
   background-color: white !important;
   border-radius: 20px;
   padding: 5px;   
   border: 5px solid wheat !important;
   box-sizing: border-box;
   /* object-fit: contain; */
}
.allC-product-heading{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center;
    background-color: wheat;
    margin: 0;
    padding: 20px;
    font-style: italic;
    
    color: rgb(87, 160, 87);

}

.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    gap: 10px;
}

#pageNumber-style{
    display: flex;
    justify-content: center;
    width: 20px;
    border: 1px solid;
    align-items: center;
    cursor: pointer;
    /* background-color: wheat; */
    
}

.clicked{
    background-color: greenyellow;
}


/* ----------------- */
/* mobile  */

@media(max-width: 768px){
    .allC-product-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .allC-product-cards{
        width: 20vw;
        height: 20vh;
        border: none !important;
        border-radius: 0px;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between
    ;
    }

    .allC-product-cards>h1{
        font-size: xx-small;
        margin: 0;
    }

    

    .allC-category-image{
        width: 100%;
        height: 60%;
        border-radius: 0px;
        border: 0.1px solid wheat !important;
        margin: 0;
    }

    .allC-category-lower{
        margin: 0;
        padding: 0;
        gap: 0px;
    }
    .allC-category-lower>h2{
        font-size: xx-small;
        margin: 0;
        padding: 0;
        
    }
    .allC-category-lower>button{
        width: 50px;
        font-size: xx-small;
        height: 20px;
        
    }

}