.login-outer-container{
    /* background-color: wheat; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: green;
}   

form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: wheat;
    /* align-items: center; */
    height: 250px;
    width: 400px;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid green;
}

.login-label{
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.login-label > label{
    font-size: medium;
    font-weight: bold;
}

.login-label > input{
    height: 30px;
}

.login-btn{
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.login-btn>button{
    background-color: green;
    color: white;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;

}

.redirectToRegister{
    display: flex;
    justify-content: center;

}

/* ------- */
.login-img{
    width: 450px;
    height: 490px;
    border: none;
}

.login-mid-container{
    display: flex;
    align-items: center;
    height: 70%;
    background-color: wheat;
    padding: 10px;
    gap: 10px;

}

.login-heading{
    background-color: green;
    color: wheat;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}


/* ---------- */
/* Mobile  */

@media(max-width: 768px){
  

   .login-img{
    /* display: none; */
    width: 80vw;
    height: 50%;
   }
   .login-mid-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: wheat;
   }
   .login-img-container{
   display: contents;
   }

   .login-mid-container>form{
    width: 80vw;
    
   }
   .login-outer-container{
    margin-top: 70px;
   }
}